<!--regreso y encabezado-->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button slot="start" (click)="fnPerfilRegresar()" color="primary" fill="solid">
      Regresar
    </ion-button>
    <ion-title>VirtualMed Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-grid>

      <!--foto de perfil-->
        <ion-row class="avatar-container">
        <ion-col size="12">
          <ion-avatar style="width: 120px; height: 120px; margin: 20px auto;">
            <img [src]="avatarUrl || 'assets/avatar.png'" alt="Avatar" />
          </ion-avatar> 
        
        <!--botones de la foto de perfil-->
          <div class="profile-actions">
            <ion-button (click)="seleccionarImagen()" color="primary" fill="outline">
              Cambiar
            </ion-button>
            <ion-button (click)="quitarImagen()" color="danger" fill="outline">
              Quitar
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    
    <!--nombre del paciente-->
    <ion-row>
      <ion-col size="12" size-md="6">
          <ion-item lines="none">
            <ion-label position="floating">Nombre</ion-label>
            <ion-input [(ngModel)]="nombre" placeholder="Ingresa tu nombre"></ion-input>
          </ion-item>
        </ion-col>

        
        <!--apellido del paciente -->
        <ion-col size="12" size-md="6">
          <ion-item lines="none">
            <ion-label position="floating">Apellidos</ion-label>
            <ion-input [(ngModel)]="apellido" placeholder="Ingresa tus apellidos"></ion-input>
          </ion-item>
        </ion-col>
        
        <!-- edad del paciente-->
        <ion-col size="12" size-md="6">
          <ion-item lines="none">
            <ion-label position="floating">Edad</ion-label>
            <ion-input [(ngModel)]="edad" placeholder="Ingresa tu edad"></ion-input>
          </ion-item>
        </ion-col>
        
        
        <!--fecha de nacimiento -->

        <ion-col>
          <ion-item lines="none">
            <ion-label position="floating">Fecha de nacimiento</ion-label>
            <ion-datetime presentation="date" [(ngModel)]="nacimiento">
            </ion-datetime>
            </ion-item>
        </ion-col>
      </ion-row>
      

      
      <ion-row>
        <!-- genero con radios grupos dentro del radio group -->
        <ion-col size="12" size-md="6">
          
<ion-label class="genero-label">Género</ion-label>
<ion-radio-group [(ngModel)]="generoSeleccionado" class="genero-group">
  <ion-item lines="none">
    <ion-label>Hombre</ion-label>
    <ion-radio slot="start" value="hombre"></ion-radio>
  </ion-item>
  <ion-item lines="none">
    <ion-label>Mujer</ion-label>
    <ion-radio slot="start" value="mujer"></ion-radio>
  </ion-item>
  <ion-item lines="none">
    <ion-label>Prefiero no decirlo</ion-label>
    <ion-radio slot="start" value="no-decirlo"></ion-radio>
  </ion-item>
</ion-radio-group>
        </ion-col>

        <ion-col size="12" size-md="6">
          <!-- peso en numero -->
          <ion-item lines="none">
            <ion-label position="floating">Peso (kg)</ion-label>
            <ion-input [(ngModel)]="peso" placeholder="Ingresa tu peso"></ion-input>
          </ion-item>
          <!-- altura en numero -->
          <ion-item lines="none">
            <ion-label position="floating">Altura (cm)</ion-label>
            <ion-input [(ngModel)]="altura" placeholder="Ingresa tu altura"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col size="12">
          <!-- validacion del correo-->
          <ion-item [class.valid]="correoInput.valid && correoInput.dirty"
                    [class.invalid]="correoInput.invalid && correoInput.dirty"
                    lines="none">
            <ion-label position="floating">Correo electrónico</ion-label>
            <ion-input name="correo" [(ngModel)]="correo" type="email"
            required pattern=".+@.+" #correoInput="ngModel"></ion-input>
          </ion-item>
          
          <!-- Mensaje de error -->
            @if(correoInput.invalid && correoInput.dirty){
            <div class="mensaje-error">
            Ingresa un correo válido (ej. usuario@dominio.com)
          </div>
          }

        </ion-col>
      </ion-row>
  
    <ion-row>
        <ion-col size="12">
          <div class="pdf-actions">
            <!-- boton para subir el expediente del paciente -->
            <ion-button (click)="seleccionarPDF()" color="secondary" fill="outline">
              Subir Expediente
            </ion-button>
            
            <!-- boton para ver el expediente -->
              @if(pdfUrl){
                <ion-button (click)="abrirModal()" color="primary">
              Ver Expediente
            </ion-button>
              }
            
            <!-- quitar expediente -->
              @if (pdfUrl) {
              <ion-button (click)="quitarExpediente()" color="danger" fill="outline">
              Quitar
            </ion-button>
              }

          </div>
        </ion-col>
      </ion-row>
        <!--boton para guardar los cambips-->
      <ion-row>
        <ion-col size="12" size-md="6" offset-md="3" class="save-button-container">
          <ion-button expand="block">Guardar cambios</ion-button>
        </ion-col>
      </ion-row>

  </ion-grid>
</ion-card>
</ion-content>

  <!-- modal para ver el expediente -->
<ion-modal [isOpen]="mostrarModal" (didDismiss)="cerrarModal()">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Visor Expediente</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="cerrarModal()">Cerrar</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      

      @if(pdfUrl){
        <iframe [src]="pdfUrl" width="100%" height="100%"></iframe>
      }
      
    </ion-content>
  </ng-template>
</ion-modal>


