:root {
  --ion-background-color: #FFF9F0;
  
  /* Paleta de Colores */
  --azulmarino: #2e4a70;
  --Azulcielo: #73C7E3;
  --Azulbajito: #9EBEED;
  --AxulMasbajito: #B1C8D6;
  --Gris: #91a4b3;
  --VerdecitoBajito: #B6CBB3;
  --Moradito: #c8a2c8;
  --Rosita: #f4b9b8;
  --Negro: #000000;

  /* Fuentes */
  --fuente: 'Italiana', sans-serif; /* Para títulos elegantes */
  --fuente1: 'Poppins', sans-serif; /* Para texto general */
}